extends layout

include mixins/_editPrivate
include mixins/_editPublic
include mixins/_fullProfile

block messages
	section.hero.is-info
		.hero-body
			.container
				h1.title Your Profile
				- const page = currentPath.split('/')[2]
				if page == "public"
					h2.subtitle This is where you tell us more about you !
				else if page == "private"
					h2.subtitle You can change your password and edit your infos here.
				else if page == "view"
					h2.subtitle This is your profile as it appears for others users.


block nav
	nav.nav.has-shadow
		.container
			.nav-center
				a.nav-item.is-tab#view(href=`/myprofile/view/${userdata.hash}`) Public Profile
				a.nav-item.is-tab#public(href=`/myprofile/public/${userdata.hash}`) Edit My Profile
				a.nav-item.is-tab#private(href=`/myprofile/private/${userdata.hash}`) Edit Account

block content
	if which === "private"
		+editPrivate(userdata)
	else if which === "public"
		+editPublic(userdata)
	else
		+fullProfile(userdata)

block scripts
	script(src=`https://maps.googleapis.com/maps/api/js?key=${process.env.MAP_KEY}&language=en&libraries=places`)
	script(src="/javascript/myprofile.js")
