extends layout

block messages
	section.hero.is-danger
		.hero-body
			.container
				h1.title 404 Page Not Found
					h2.subtitle This page doesn't exists !

block content
	.column.is-half.is-offset-one-quarter
		h2= status
		p= message
	pre.error!= stackHighlighted
