doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/public/css/layout.css')
    link(rel="shortcut icon" type="image/png" href="/assets/heart.png")
    meta(name="viewport" content="width=device-width, initial-scale=1")
	body
		block header
		
		block messages
		
		.content
			block content
		
		block scripts
