extends layout

include mixins/_fullProfile

block messages
	section.hero.is-info
		.hero-body
			.container
				h1.title #{userdata.first_name} #{userdata.last_name}
					h2.subtitle #{userdata.age} years old


block content
	.column.is-half.is-offset-one-quarter
		if like == true
			span.tag.is-medium.is-success This user likes you. Like back to engage conversation !
		else
			span.tag.is-medium.is-light This user did not like your profile (yet). Like to grab attention !
	.column.is-half.is-offset-one-quarter#profile-actions
		if like == true
			button.button.is-medium.is-primary#unlike Unlike
		else
			button.button.is-medium.is-primary#like Like
		button.button.is-medium.is-danger#report Report
		button.button.is-medium.is-danger#block Block
	.column.is-half.is-offset-one-quarter#profile-actions
		.notification(hidden)#message
	+fullProfile(userdata)

block scripts
	script(src="/socket.io/socket.io.js")
	script(src="/javascript/otherProfile.js")
