extends layout

include mixins/_fullProfile

block messages
	section.hero.is-info
		.hero-body
			.container
				h1.title #{userdata.first_name} #{userdata.last_name}
					h2.subtitle #{userdata.age} years old


block content
	.column.is-half.is-offset-one-quarter#profile-actions
		button.button.is-outlined.is-large.is-primary Like
		button.button.is-outlined.is-large.is-danger Report
		button.button.is-outlined.is-large.is-danger Block
	+fullProfile(userdata)

block scripts
	script(src="/javascript/myprofile.js")
