#m--search {
	margin-bottom: 0;
	align-self: center;
}

footer {
	height: 1rem;
	width: 100%;
	padding-top: 1rem !important;
	padding-bottom: 4rem !important;
}

a.nav-item.is-tab:hover {
	border-bottom-color: #3273dc;
}

a.nav-item.is-tab.is-active {
	border-bottom-color: #3273dc;
	color: #3273dc;
}

.check {
	margin: 1.5rem 0.8rem 0.5rem 0.2rem;
}

.control {
	margin-bottom: 1rem;
}

#prev:hover, #next:hover {
	cursor: pointer;
	background-color: whitesmoke;
}
