mixin navMenu(user = {})
	a.nav-item(href="/") Home
	a.nav-item(href="/suggestions") Suggestions
	a.nav-item(href="/browse") Browse
	a.nav-item(href="/notifications") Notifications
	a.nav-item(href=`/messages/${user}`) Messages
		span.tag.is-danger#nb-notif 1
	//- form.field.has-addons#m--search(method="POST" action="#")
	//- 	p.control
	//- 		input.input(type="text" placeholder="Find user")
	//- 	p.control
	//- 		input.input(type="submit" name="search" value="Search")
