mixin navMenu(user)
	a.nav-item(href="/") Home
	a.nav-item(href="/browse") Browse
	a.nav-item(href=`/myprofile/${user}`) My Profile
	a.nav-item(href="/notifications") Notifications
	a.nav-item(href="/messages") Messages
